.text{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color:var(--text-color);
    &_white{
        margin-top: 20px;
        font-weight: 300;
        font-size: 19px;
        line-height: 27px;
        text-align: center;
        color: #FFFFFF;
    }
}